<div class="row justify-content-md-center">
    <img src="/img/burger.png" alt="">
</div>
<div class="row justify-content-md-center">
    <div class="col-4 ">
        <h1>Eat-Da-Burger!</h1>
    </div> 
</div>
<div class="row">
{{!-- show burger that has not yet been devoured --}}
    <div class="col-6 not-devoured-container">
        <ol>
            {{#each burgers}}
                {{#unless devoured}}
                    <div class="not-devoured">
                        <li class="li-fix">{{burger_name}}</li>
                        <form action="/{{this.id}}?_method=PUT" method="POST">
                            <button type="submit" id="eat-burger" >Eat Burger!</button>
                        </form>
                    </div>
                {{/unless}}
            {{/each}}
        </ol>
    </div>

{{!-- show burger that has been devoured --}}
    <div class="col-6 is-devoured-container">
        <ol>
            {{#each burgers}}
                {{#if devoured}}
                    <div class="is-devoured">
                        <li>{{this.burger_name}}</li>
                    </div>
                {{/if}}
            {{/each}}
        </ol>
    </div>
</div> 

<div class="row justify-content-md-center">
    <div class="col-6" >
        <form action="/" method="POST" class="text-center">
            <div class="form-group">
                <input type="text" name="burger_name" class="form-control" id="burger" aria-describedby="emailHelp" placeholder="Enter Burger You'd like to eat!">
            </div>
            <button type="submit" class="btn btn-primary  ">Submit</button>
        </form>
    </div>
</div>